@import "tailwindcss";

@theme {
  /* Cores institucionais da Gran */
  --color-gran-dark: #003366;
  --color-gran-bright: #FFD100;
  --color-text: #333333;
  --color-background: #F5F5F5;

  /* Fontes opcionais */
  --font-display: "Inter", sans-serif;
}

.toast-gran {
  background-color: var(--color-gran-dark);
  color: white;
  font-weight: 500;
  border-left: 6px solid var(--color-gran-bright);
  border-radius: 0.375rem;
}
